* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
.header {
    background-color: #1f497d;
    padding: 20px;
    color: rgb(248,248,248);
    font-size: 30px;
}

#signinbutton {
    float: right;
    padding: 2px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: rgb(4, 128, 0);
    color: white;

}

#signinbutton:hover{
    background: #43A047;
}

#createaccountbutton {
    padding: 12px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    background-color: #43A047;
    color: white;
    font-size: 18px;
    margin-bottom: 0;   
}

#createaccountbutton:hover{
    background:green ;
}

hr.new1 {
    border: 1.5px solid #43A047;
    border-radius: 2px;
    margin-top: 4px;
    margin-bottom: 18px;
  }

.header a{
    color:rgb(230,230,230) ;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 600px; /* Should be removed. Only for demonstration */
}

.login-page {
    width: 90%;
    padding:0 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: white;
    max-width: 90%;
    margin: 0 auto 100px;
    padding: 45px;
    
}

.form input {
    font-family: "Robonto",sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    font-family: "Robonto",sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        cursor: pointer;
        margin-bottom: 15px;
}

.form button:hover, .form button:active{
    background: #43A047;
}

.form .message a{
    text-decoration: none;
}

.form .message a:hover{
    font-weight: bold;
}

.form .login-form{
    display: none;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
      width: 100%;
    }

    .haveanaccount {
        display: none;
    }

    .appimage {
        height:80%;
        width: 100%;
    }
}

@media (min-width: 601px) and (max-width:767px) {
    .column {
        width: 100%;
      }

      .haveanaccount {
        display: none;
    }

      .appimage {
          height:90%;
          width: 80%;
          margin-left: 15%;
      }
}

@media (min-width: 768px) and (max-width:991px) {
    .column {
        width: 100%;
      }

      .haveanaccount {
        display: none;
    }
  
      .appimage {
          height:90%;
          width: 75%;
          margin-left: 15%;
      }
}

